<!DOCTYPE html>
<html>

<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="material-icons/css/material-icons.min.css" rel="stylesheet" />
    <link href="mdlite/css/material.yellow-amber.min.css" rel="stylesheet" />
    <link href="mdlite/css/bootstrap.css" rel="stylesheet" />
    <link href="mdlite/css/bootstrap.min.css" rel="stylesheet" />
    <link href="mdlite/css/mdb.css" rel="stylesheet" />
    <link href="mdlite/css/mdb.min.css" rel="stylesheet" />
    <link href="mdlite/css/style.css" rel="stylesheet" />

    <title>MobiHymnMDLite</title>
</head>

<body>
    <script src="mdlite/js/jquery-2.2.3.min.js"></script>
    <script src="mdlite/js/jquery-3.1.1.min.js"></script>
    <script src="mdlite/js/tether.min.js"></script>
    <script src="mdlite/js/bootstrap.min.js"></script>
    <script src="mdlite/js/mdb.min.js"></script>
    <script src="mdlite/js/material.min.js"></script>
    <script src="scripts/firebase.js"></script>
    <script src="scripts/linq.min.js"></script>
    <script src="scripts/jquery.linq.min.js"></script>
    <script src="scripts/hammer.min.js"></script>

    <!--<script type="text/javascript" src="cordova.js"></script>-->
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>

    <div class="landing">
        <p class="title">
            <img src="images/logo/Icon-Small-40@3x.png" />
            <span class="title-white">Mobi</span><span class="title-yellow">Hymn</span>
        </p>
        <!--<hr />
            <input type="text" placeholder="email" />
            <input type="password" placeholder="password" />-->
    </div>
    <div class="mdl-layout__container">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs has-drawer has-tabs is-upgraded">
            <header class="mdl-layout__header" id="mainHeader">
                <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button" style="display: none">
                    <i class="material-icons">menu</i>
                </div>
                <div class="mdl-layout__header-row" style="display: none">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right" style="flex-grow: 1">
                        <input class="mdl-textfield__input" type="text" id="searchHymn" href="#search">
                        <label class="mdl-textfield__label" for="searchHymn">Search</label>
                    </div>
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" id="btnBookmark"><i class="material-icons">bookmark_border</i></a>
                    </nav>
                </div>

                <!-- Tabs -->
                <div class="mdl-layout__tab-bar-container">
                    <div class="mdl-layout__tab-bar mdl-js-ripple-effect is-casting-shadow">
                        <a href="#fixed-tab-1" class="mdl-layout__tab is-active">All Hymns</a>
                        <a href="#fixed-tab-2" class="mdl-layout__tab">Recent</a>
                        <a href="#fixed-tab-3" class="mdl-layout__tab">Bookmarks</a>
                    </div>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">
                        <span class="title-white">Mobi</span>
                <span class="title-yellow">Hymn</span>
                </span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#home">Library</a>
                    <a class="mdl-navigation__link" href="#lyrics">Read</a>
                    <a class="mdl-navigation__link" href="#input">Input</a>
                    <a class="mdl-navigation__link" href="#about">About</a>
                    <a class="mdl-navigation__link" href="#settings">Settings</a>
                </nav>
            </div>

            <main class="mdl-layout__content">
                <div class="page-content">
                    <div id="mySpinner">
                        <div class="mdl-spinner mdl-js-spinner is-active"></div>
                    </div>
                    <div id="snckBookmark" class="mdl-js-snackbar mdl-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button class="mdl-snackbar__action" type="button"></button>
                    </div>
                    <section id="home" class="active">
                        <h2 class="home-title">Hymnals</h2>
                        <div class="cards" ng-repeat="ngRepeats[4]"></div>
                    </section>
                    <section id="lyrics">
                        <h2 style="padding: 0 5px;">Hymn # <span id="hymnTitle"></span></h2>
                        <p id="hymnLyrics"></p>
                        <footer class="mdl-mini-footer navbar-fixed-bottom" id="lyricFooter">
                            <div class="mdl-mini-footer__bottom-section">
                                <button class="mdl-mini-footer__social-btn" id="btnScroller">
                                        <i class="fa fa-angle-double-down"></i>
                                    </button>
                                <span id="scrollVal">1.00</span>
                                <input class="mdl-slider mdl-js-slider" id="rngScrollSpeed" type="range" value="1" min="0.01" max="2" step="0.01" />
                                <button class="mdl-mini-footer__social-btn">
                                    <i class="fa fa-play"></i>
                                </button>
                            </div>
                        </footer>
                    </section>
                    <section id="input">
                        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                            <div class="page-content">
                                <form class="input-form">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="inputNumber" placeholder="number" data-target="#listHymns">
                                        <span class="mdl-textfield__error">Input is not a number!</span>
                                    </div>
                                </form>
                                <div class="list-items">
                                    <ul class="demo-list-three mdl-list" ng-repeat="ngRepeats[0]" id="listHymns"></ul>
                                </div>
                            </div>
                        </section>
                        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                            <div class="page-content">
                                <form class="input-form">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="inputRecent" placeholder="text" data-target="#listRecent">
                                        <span class="mdl-textfield__error">Input is not a number!</span>
                                    </div>
                                </form>
                                <div class="list-items">
                                    <ul class="demo-list-three mdl-list" ng-repeat="ngRepeats[1]" id="listRecent"></ul>
                                </div>
                            </div>
                        </section>
                        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
                            <div class="page-content">
                                <form class="input-form">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="inputBookmark" placeholder="text" data-target="#listBookmarks">
                                        <span class="mdl-textfield__error">Input is not a number!</span>
                                    </div>
                                </form>
                                <div class="list-items">
                                    <ul class="demo-list-three mdl-list" ng-repeat="ngRepeats[2]" id="listBookmarks"></ul>
                                </div>
                            </div>
                        </section>
                        <footer class="mdl-mini-footer navbar-fixed-bottom hymn-footer">
                            <div class="mdl-mini-footer__bottom-section">
                                <p class="current-hymn">Now reading: hymn #<span class="current-hymn-title">1</span></p>
                                <button class="mdl-mini-footer__social-btn">
                                        <i class="fa fa-play"></i>
                                    </button>
                            </div>
                        </footer>
                    </section>
                    <section id="search">
                        <p style="display: none"><span id="searchCount"></span> result(s) found</p>
                        <div class="table-results">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="searchTable" style="display: none">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Number</th>
                                        <th class="mdl-data-table__cell--non-numeric">Line</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="ngRepeats[3]"></tbody>
                            </table>
                        </div>
                        <footer class="mdl-mini-footer navbar-fixed-bottom hymn-footer">
                            <div class="mdl-mini-footer__bottom-section">
                                <p class="current-hymn">Now reading: hymn #<span class="current-hymn-title">1</span></p>
                                <button class="mdl-mini-footer__social-btn">
                                        <i class="fa fa-play"></i>
                                    </button>
                            </div>
                        </footer>
                    </section>
                    <section id="about">
                        <span class="mdl-layout-title">
                                <img src="images/logo/Icon-72@2x.png" />
                            </span>
                        <p id="description"></p>
                        <h2 class="revision-title">Revision</h2>
                        <div id="revision-list"></div>

                        <h2 class="author">Author</h2>

                        <img src="images/cordova.png" class="author-image" />
                        <h4 class="author-name">Timothy John V. Gandionco</h4>
                        <p class="author-desc">Software and Web Developer</p>

                        <footer class="mdl-mini-footer navbar-fixed-bottom hymn-footer">
                            <div class="mdl-mini-footer__bottom-section">
                                <p class="current-hymn">Now reading: hymn #<span class="current-hymn-title">1</span></p>
                                <button class="mdl-mini-footer__social-btn">
                                        <i class="fa fa-play"></i>
                                    </button>
                            </div>
                        </footer>
                    </section>
                    <section id="settings">
                        <div class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__supporting-text">
                                <div class="settings">
                                    <p class="text">Extra spacing</p>
                                    <div class="component">
                                        <input class="mdl-slider mdl-js-slider" type="range" min="0" max="500" value="0" tabindex="0" step="10" id="rngSpacing" style="text-align: right" />
                                    </div>
                                </div>
                                <div class="settings">
                                    <p class="text">Line spacing</p>
                                    <div class="component">
                                        <input class="mdl-slider mdl-js-slider" type="range" min="150" max="200" value="175" tabindex="0" step="1" id="rngLineHeight" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__supporting-text">
                                <ul class="demo-list-item mdl-list">
                                    <li class="mdl-list__item">
                                        <label class="mdl-list__item-primary-content" for="chkDropCap">
                                                Drop-cap first letter
                                            </label>
                                        <span class="mdl-list__item-secondary-content">
                                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="chkDropCap">
                                                    <input type="checkbox" id="chkDropCap" class="mdl-switch__input"/>
                                                </label>
                                            </span>
                                    </li>
                                    <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                                Max number of recent list
                                            </span>
                                        <span class="mdl-list__item-secondary-content">
                                                <input type="number" min="1" max="10" value="5" id="recentLength" style="text-align: right"/>
                                            </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <footer class="mdl-mini-footer navbar-fixed-bottom hymn-footer">
                            <div class="mdl-mini-footer__bottom-section">
                                <p class="current-hymn">Now reading: hymn #<span class="current-hymn-title">1</span></p>
                                <button class="mdl-mini-footer__social-btn">
                                        <i class="fa fa-play"></i>
                                    </button>
                            </div>
                        </footer>
                    </section>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored hidden" id="btnInput" href="#input">
                            <i class="material-icons">library_books</i>
                        </button>
                </div>
            </main>
            <div class="mdl-layout__obfuscator"></div>
        </div>
    </div>
</body>

</html>