<ion-view view-title="Search">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Email">
                </label>
                <button class="button button-dark button-small">
                    Submit
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>