@keyframes scale-down {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes scale-up {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@font-face {
  font-family: 'KonsensBold';
  src: url("../mdlite/font/konsens/KonsensBold.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensBold-Italic';
  src: url("../mdlite/font/konsens/KonsensBold-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensBook';
  src: url("../mdlite/font/konsens/KonsensBook.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensBook-Italic';
  src: url("../mdlite/font/konsens/KonsensBook-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensExtrabold';
  src: url("../mdlite/font/konsens/KonsensExtrabold.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensExtrabold-Italic';
  src: url("../mdlite/font/konsens/KonsensExtrabold-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensHeavy';
  src: url("../mdlite/font/konsens/KonsensHeavy.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensHeavy-Italic';
  src: url("../mdlite/font/konsens/KonsensHeavy-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensLight';
  src: url("../mdlite/font/konsens/KonsensLight.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensLight-Italic';
  src: url("../mdlite/font/konsens/KonsensLight-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensMedium';
  src: url("../mdlite/font/konsens/KonsensMedium.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensMedium-Italic';
  src: url("../mdlite/font/konsens/KonsensMedium-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensRegular';
  src: url("../mdlite/font/konsens/KonsensRegular.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensRegular-Italic';
  src: url("../mdlite/font/konsens/KonsensRegular-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensSemibold';
  src: url("../mdlite/font/konsens/KonsensSemibold.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensSemibold-Italic';
  src: url("../mdlite/font/konsens/KonsensSemibold-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensUltrabold';
  src: url("../mdlite/font/konsens/KonsensUltrabold.ttf") format("truetype"); }
@font-face {
  font-family: 'KonsensUltrabold-Italic';
  src: url("../mdlite/font/konsens/KonsensUltrabold-Italic.ttf") format("truetype"); }
* {
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../mdlite/font/roboto/Roboto-Bold.eot") format("embedded-opentype"), url("../mdlite/font/roboto/Roboto-Bold.ttf") format("truetype"), url("../mdlite/font/roboto/Roboto-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Roboto-Light';
  src: url("../mdlite/font/roboto/Roboto-Light.eot") format("embedded-opentype"), url("../mdlite/font/roboto/Roboto-Light.ttf") format("truetype"), url("../mdlite/font/roboto/Roboto-Light.woff") format("woff"); }
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../mdlite/font/roboto/Roboto-Medium.eot") format("embedded-opentype"), url("../mdlite/font/roboto/Roboto-Medium.ttf") format("truetype"), url("../mdlite/font/roboto/Roboto-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../mdlite/font/roboto/Roboto-Regular.eot") format("embedded-opentype"), url("../mdlite/font/roboto/Roboto-Regular.ttf") format("truetype"), url("../mdlite/font/roboto/Roboto-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto-Thin';
  src: url("../mdlite/font/roboto/Roboto-Thin.eot") format("embedded-opentype"), url("../mdlite/font/roboto/Roboto-Thin.ttf") format("truetype"), url("../mdlite/font/roboto/Roboto-Thin.woff") format("woff"); }
@font-face {
  font-family: 'Tangerine';
  src: url("../mdlite/font/tangerine/Tangerine_Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'TangerineBold';
  src: url("../mdlite/font/tangerine/Tangerine_Bold.ttf") format("truetype"); }
html, body {
  height: 100%;
  overflow: auto; }

@media screen and (max-width: 1024px) {
  .mdl-layout__header-row {
    height: 56px;
    padding: 0 16px 0 52px !important; } }
input[type="number"]
, input[type="text"] {
  color: #efefef; }

input[type="range"] {
  background-color: #efefef !important; }

.custom-obfuscator {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4; }

.mdl-layout__content > .page-content #home {
  background: #0d0d0d;
  padding: 10px 0 0; }
.mdl-layout__content > .page-content .mdl-mini-footer {
  padding: 16px !important;
  background: -moz-linear-gradient(top, #2b2c2f 0%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2b2c2f 0%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2b2c2f 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block; }
  .mdl-layout__content > .page-content .mdl-mini-footer .mdl-mini-footer__bottom-section {
    display: flex;
    width: 100%;
    align-items: center; }
    .mdl-layout__content > .page-content .mdl-mini-footer .mdl-mini-footer__bottom-section button, .mdl-layout__content > .page-content .mdl-mini-footer .mdl-mini-footer__bottom-section span {
      margin: 0 5px; }
    .mdl-layout__content > .page-content .mdl-mini-footer .mdl-mini-footer__bottom-section.flex-space-between {
      justify-content: space-between; }
    .mdl-layout__content > .page-content .mdl-mini-footer .mdl-mini-footer__bottom-section p {
      margin: 0;
      text-align: center; }
    .mdl-layout__content > .page-content .mdl-mini-footer .mdl-mini-footer__bottom-section .mdl-slider__container, .mdl-layout__content > .page-content .mdl-mini-footer .mdl-mini-footer__bottom-section p {
      flex-grow: 2; }
    .mdl-layout__content > .page-content .mdl-mini-footer .mdl-mini-footer__bottom-section .current-hymn .current-hymn-title {
      margin: 0; }
  .mdl-layout__content > .page-content .mdl-mini-footer button {
    border: solid;
    color: #efefef;
    background-color: inherit;
    border-radius: 50%; }

.mdl-slider__background-flex {
  z-index: 65;
  margin: 0 20px !important; }
  .mdl-slider__background-flex .mdl-slider__background-upper {
    opacity: 0; }

.mdl-layout__header {
  box-shadow: none;
  display: block; }
  .mdl-layout__header .mdl-textfield__input {
    color: #424242; }

@media screen and (max-width: 1024px) {
  .mdl-layout--fixed-header > .mdl-layout__header {
    display: block; } }
.mdl-layout__drawer {
  background-position: center top !important;
  border: none;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/Congregation Singing 2.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  border-right: none !important; }
  .mdl-layout__drawer .mdl-layout-title {
    color: #efefef;
    font-family: KonsensSemibold; }
    .mdl-layout__drawer .mdl-layout-title .title-white {
      color: #FFFFFF; }
    .mdl-layout__drawer .mdl-layout-title .title-yellow {
      color: #FFF300;
      margin-left: -5px; }
  .mdl-layout__drawer .mdl-navigation__link {
    color: #efefef !important;
    font-size: 20px !important; }
    .mdl-layout__drawer .mdl-navigation__link:hover {
      background-color: transparent !important;
      color: #FFF300 !important; }

.mdl-layout__content {
  background-image: url("../images/Congregation Singing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0 -2px; }

.mdl-layout__content > .page-content > section {
  height: inherit;
  color: #efefef;
  overflow-y: auto; }
  .mdl-layout__content > .page-content > section:not(.active) {
    display: none; }

.input-form > .mdl-textfield {
  padding: 16px 20px;
  width: 100% !important; }

.input-form + .list-items {
  overflow: hidden;
  overflow-y: auto; }

#btnInput {
  position: fixed;
  bottom: 75px;
  right: 10px;
  width: 56px;
  height: 56px; }

#btnInput:not(.hidden) {
  transform: scale(1); }

#btnInput.hidden {
  transform: scale(0); }

body {
  font-family: Roboto-Thin; }

.landing {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/Congregation Singing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2000;
  font-family: KonsensSemibold; }
  .landing .title {
    font-size: 42px;
    margin: 0;
    display: inline-block; }
  .landing .title img {
    display: block;
    margin: 0 auto 20px; }
  .landing .title-white {
    color: #FFFFFF;
    background-color: none; }
  .landing .title-yellow {
    color: #FFF300;
    background-color: none; }
  .landing hr {
    margin: 6px 0 8px; }
  .landing input[type="text"], .landing input[type="password"] {
    display: block;
    margin: 5px 0;
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 14px;
    border: 1px solid #343434;
    border-radius: 5px; }

.home-title {
  text-align: center;
  text-decoration: underline;
  margin: 0 0 1rem;
  color: #efefef;
  font-family: 'Tangerine';
  font-size: 3rem; }

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px; }
  .cards .mdl-card {
    width: 90%;
    margin: 0 auto 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/sheet-music.jpg");
    color: #efefef;
    background-repeat: no-repeat;
    background-size: cover; }
    .cards .mdl-card .mdl-card__title {
      max-width: 89%; }
      .cards .mdl-card .mdl-card__title .mdl-card__title-text {
        color: #efefef;
        font-family: 'Tangerine';
        font-size: 2.1rem;
        text-shadow: -1px 5px 4px #ffeb3b; }
    .cards .mdl-card .mdl-card__menu {
      z-index: 5; }
    .cards .mdl-card .mdl-card__supporting-text {
      color: #efefef;
      font-family: 'Tangerine';
      font-size: 2.1rem;
      text-shadow: -1px 5px 4px #ffeb3b; }
    .cards .mdl-card .mdl-button {
      background: inherit; }

#lyrics > h2 {
  font-family: 'TangerineBold';
  font-size: 3.1rem;
  padding: 0 5px; }
#lyrics #hymnLyrics {
  line-height: 175%;
  padding: 0 5px;
  margin: 0;
  font-family: inherit;
  letter-spacing: 0.12em; }
  #lyrics #hymnLyrics.indent-first-letter .hymn-stanza .first-letter {
    float: left;
    width: 0.7em;
    font-size: 340%;
    line-height: 100%; }

.table-results {
  overflow: hidden;
  overflow-y: auto; }

#settings {
  padding: 30px 30px 0; }
  #settings .mdl-card {
    width: 100%;
    min-height: 0;
    background: rgba(13, 13, 13, 0.63); }

@media (max-width: 479px) {
  #home .mdl-card + .mdl-card {
    margin-top: 20px; } }
@media (min-width: 480px) {
  #home .mdl-card + .mdl-card {
    margin-top: 0; } }
#settings .mdl-card + .mdl-card {
  margin-top: 20px; }
#settings .mdl-list__item-primary-content, #settings .mdl-list__item-secondary-content {
  font-size: 18px !important; }

.mdl-card .mdl-card__supporting-text {
  width: inherit; }
  .mdl-card .mdl-card__supporting-text .settings {
    margin-bottom: 20px; }
    .mdl-card .mdl-card__supporting-text .settings .text {
      padding: 0 23px;
      margin: 0 0 2px;
      color: #efefef !important;
      font-size: 18px; }
    .mdl-card .mdl-card__supporting-text .settings .component {
      width: inherit; }

.auto-scroller button {
  min-width: 20px;
  width: 24px;
  height: 24px;
  display: block;
  margin: 0px 0px 15px 0;
  opacity: 0.3; }

.mdl-data-table {
  background: rgba(13, 13, 13, 0.63);
  color: #efefef; }
  .mdl-data-table th {
    color: #efefef; }
  .mdl-data-table tr {
    color: #efefef; }

.mdl-list__item, .mdl-data-table tr {
  z-index: 400; }

.mdl-list__item .mdl-list__item-primary-content, .mdl-data-table tr td {
  z-index: 39;
  color: #efefef; }

.mdl-list__item .mdl-list__item-primary-content i {
  margin-bottom: 0.5em;
  padding-top: 7px;
  font-size: 25px;
  text-align: center; }

.mdl-list__item .mdl-list__item-primary-content span {
  color: #efefef; }

.mdl-list__item .mdl-list__item-secondary-content {
  z-index: 401; }

#btnHome {
  font-size: 24px; }

#searchTable {
  width: 93%;
  margin: 0 3% 3%;
  background: rgba(13, 13, 13, 0.63); }
  #searchTable th {
    text-align: center;
    color: #efefef; }
  #searchTable tr td:nth-child(1), #searchTable tr th:nth-child(1) {
    width: 10%; }
  #searchTable tr td:nth-child(2), #searchTable tr th:nth-child(2) {
    width: 90%;
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis; }

#search > p {
  margin: 10px 3% 5px; }

.hymn-stanza .hymn-line, .hymn-refrain .hymn-line {
  display: block; }

.hymn-stanza:before {
  display: block; }

.hymn-refrain:before {
  display: block;
  content: "Refrain:"; }

.hymn-stanza:after, .hymn-refrain:after {
  content: "";
  display: block;
  padding-bottom: 1em; }

.hymn-stanza:nth-child(1):before {
  content: "Stanza 1:"; }

#about .mdl-layout-title {
  margin: 10px 0;
  text-align: center; }
  #about .mdl-layout-title img {
    padding: 10px 0 10px 10px; }
#about #description {
  text-align: center;
  padding: 0 10px;
  font-size: 20px; }
#about .revision-title {
  font-weight: bold;
  margin: 50px 0 5px;
  color: #ffeb3b; }
#about .revision-title, #about #revision-list {
  text-align: center;
  padding: 0 10px; }
#about #revision-list {
  font-size: 20px; }
  #about #revision-list .revision {
    text-decoration: underline; }
#about .author {
  margin: 50px 0 5px;
  text-align: center;
  font-weight: bold;
  color: #ffeb3b; }
#about .author-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background: #ffffff;
  display: block; }
#about .author-name {
  text-align: center;
  margin: 5px 0 0; }
#about .author-desc {
  text-align: center;
  font-size: 12px; }

.dialog-container {
  display: flex; }
  .dialog-container .mdl-dialog {
    z-index: 5;
    width: 50% !important;
    top: 8%;
    background: rgba(13, 13, 13, 0.63); }
    .dialog-container .mdl-dialog .mdl-card {
      width: 100% !important; }
      .dialog-container .mdl-dialog .mdl-card .mdl-card__title {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -16%; }
        .dialog-container .mdl-dialog .mdl-card .mdl-card__title .mdl-card__title-text {
          color: #efefef !important;
          font-size: 1.5rem !important;
          font-family: 'Tangerine'; }

@media (max-width: 479px) {
  .mdl-snackbar.mdl-snackbar--active {
    -webkit-transform: translate(-50%, -68px) !important;
    transform: translate(-50%, -68px) !important; } }
@media (max-width: 479px) {
  .mdl-snackbar.mdl-snackbar--active {
    width: auto;
    -webkit-transform: translate(50%, -68px) !important;
    transform: translate(45%, -68px) !important; } }
.hymn-stanza + .hymn-stanza:nth-child(2):before {
  content: "Stanza 2:"; }

.hymn-stanza + .hymn-stanza:nth-child(3):before {
  content: "Stanza 3:"; }

.hymn-stanza + .hymn-stanza:nth-child(4):before {
  content: "Stanza 4:"; }

.hymn-stanza + .hymn-stanza:nth-child(5):before {
  content: "Stanza 5:"; }

.hymn-stanza + .hymn-stanza:nth-child(6):before {
  content: "Stanza 6:"; }

.hymn-stanza + .hymn-stanza:nth-child(7):before {
  content: "Stanza 7:"; }

.hymn-stanza + .hymn-stanza:nth-child(8):before {
  content: "Stanza 8:"; }

.hymn-stanza + .hymn-stanza:nth-child(9):before {
  content: "Stanza 9:"; }

.hymn-stanza + .hymn-stanza:nth-child(10):before {
  content: "Stanza 10:"; }

.hymn-refrain + .hymn-stanza:nth-child(3):before {
  content: "Stanza 2:"; }

.hymn-refrain + .hymn-stanza:nth-child(5):before {
  content: "Stanza 3:"; }

.hymn-refrain + .hymn-stanza:nth-child(7):before {
  content: "Stanza 4:"; }

.hymn-refrain + .hymn-stanza:nth-child(9):before {
  content: "Stanza 5:"; }

.hymn-refrain + .hymn-stanza:nth-child(11):before {
  content: "Stanza 6:"; }

.hymn-refrain + .hymn-stanza:nth-child(13):before {
  content: "Stanza 7:"; }

.hymn-refrain + .hymn-stanza:nth-child(15):before {
  content: "Stanza 8:"; }

.hymn-refrain + .hymn-stanza:nth-child(17):before {
  content: "Stanza 9:"; }

.hymn-refrain + .hymn-stanza:nth-child(19):before {
  content: "Stanza 10:"; }

/*# sourceMappingURL=index.css.map */
