@font-face {
    font-family: 'KonsensBold';
    src: url('../mdlite/font/konsens/KonsensBold.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensBold-Italic';
    src: url('../mdlite/font/konsens/KonsensBold-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensBook';
    src: url('../mdlite/font/konsens/KonsensBook.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensBook-Italic';
    src: url('../mdlite/font/konsens/KonsensBook-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensExtrabold';
    src: url('../mdlite/font/konsens/KonsensExtrabold.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensExtrabold-Italic';
    src: url('../mdlite/font/konsens/KonsensExtrabold-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensHeavy';
    src: url('../mdlite/font/konsens/KonsensHeavy.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensHeavy-Italic';
    src: url('../mdlite/font/konsens/KonsensHeavy-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensLight';
    src: url('../mdlite/font/konsens/KonsensLight.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensLight-Italic';
    src: url('../mdlite/font/konsens/KonsensLight-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensMedium';
    src: url('../mdlite/font/konsens/KonsensMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensMedium-Italic';
    src: url('../mdlite/font/konsens/KonsensMedium-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensRegular';
    src: url('../mdlite/font/konsens/KonsensRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensRegular-Italic';
    src: url('../mdlite/font/konsens/KonsensRegular-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensSemibold';
    src: url('../mdlite/font/konsens/KonsensSemibold.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensSemibold-Italic';
    src: url('../mdlite/font/konsens/KonsensSemibold-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensUltrabold';
    src: url('../mdlite/font/konsens/KonsensUltrabold.ttf') format('truetype');
}
@font-face {
    font-family: 'KonsensUltrabold-Italic';
    src: url('../mdlite/font/konsens/KonsensUltrabold-Italic.ttf') format('truetype');
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../mdlite/font/roboto/Roboto-Bold.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Bold.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../mdlite/font/roboto/Roboto-Light.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Light.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Light.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../mdlite/font/roboto/Roboto-Medium.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Medium.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../mdlite/font/roboto/Roboto-Regular.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Regular.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../mdlite/font/roboto/Roboto-Thin.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Thin.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Thin.woff') format('woff');
}

.mdl-layout__content > .page-content > section:not(.active){
    display: none;
}

#inputForm > .mdl-textfield{
    width: 100%;
}

#inputForm > .mdl-textfield{
    padding: 0 20px;
}

#btnPlay{
    position: fixed;
    bottom: 80px;
    right: 20px;
}
#btnInput{
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all ease 2s;
}
#btnInput:not(.hidden), #btnPlay:not(.hidden){    
    transform:  scale(1, 1);
}
#btnInput.hidden, #btnPlay.hidden{
    transform:  scale(0, 0);
}

body{
    font-family: Roboto-Thin;
}

.landing {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/Congregation Singing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2000;
    font-family: KonsensSemibold;
}

.landing .title {  
    font-size: 42px;
    margin: 0;
    display: inline-block;
}
.landing .title img{
    display:block;
    margin: 0 auto 20px;
}
.title-white{
    color: #FFFFFF;
    background-color: none;
}
.title-yellow{
    color: #FFF300;
    background-color: none; 
}
.landing  hr{
    margin: 6px 0 8px;
}
.landing  input[type="text"],input[type="password"]{
    display: block;
    margin: 5px 0;
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 14px;
    border: 1px solid #343434;
    border-radius: 5px;
  }
