@mixin verse-without-refrain {
    @for $i from 2 through 10 {
        .hymn-stanza+.hymn-stanza:nth-child(#{$i}):before {
            content: quote("Stanza #{$i}:");
        }
    }
}

@mixin verse-with-refrain {
    @for $i from 2 through 10 {
        .hymn-refrain+.hymn-stanza:nth-child(#{$i * 2 - 1}):before {
            content: quote("Stanza #{$i}:");
        }
    }
}

@keyframes scale-down {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scale-up {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@font-face {
    font-family: 'KonsensBold';
    src: url('../mdlite/font/konsens/KonsensBold.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensBold-Italic';
    src: url('../mdlite/font/konsens/KonsensBold-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensBook';
    src: url('../mdlite/font/konsens/KonsensBook.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensBook-Italic';
    src: url('../mdlite/font/konsens/KonsensBook-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensExtrabold';
    src: url('../mdlite/font/konsens/KonsensExtrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensExtrabold-Italic';
    src: url('../mdlite/font/konsens/KonsensExtrabold-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensHeavy';
    src: url('../mdlite/font/konsens/KonsensHeavy.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensHeavy-Italic';
    src: url('../mdlite/font/konsens/KonsensHeavy-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensLight';
    src: url('../mdlite/font/konsens/KonsensLight.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensLight-Italic';
    src: url('../mdlite/font/konsens/KonsensLight-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensMedium';
    src: url('../mdlite/font/konsens/KonsensMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensMedium-Italic';
    src: url('../mdlite/font/konsens/KonsensMedium-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Konsens';
    src: url('../mdlite/font/konsens/KonsensRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensRegular-Italic';
    src: url('../mdlite/font/konsens/KonsensRegular-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensSemibold';
    src: url('../mdlite/font/konsens/KonsensSemibold.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensSemibold-Italic';
    src: url('../mdlite/font/konsens/KonsensSemibold-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensUltrabold';
    src: url('../mdlite/font/konsens/KonsensUltrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'KonsensUltrabold-Italic';
    src: url('../mdlite/font/konsens/KonsensUltrabold-Italic.ttf') format('truetype');
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../mdlite/font/roboto/Roboto-Bold.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Bold.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../mdlite/font/roboto/Roboto-Light.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Light.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../mdlite/font/roboto/Roboto-Medium.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Medium.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../mdlite/font/roboto/Roboto-Regular.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Regular.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../mdlite/font/roboto/Roboto-Thin.eot') format('embedded-opentype'), url('../mdlite/font/roboto/Roboto-Thin.ttf') format('truetype'), url('../mdlite/font/roboto/Roboto-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Tangerine';
    src: url('../mdlite/font/tangerine/Tangerine_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TangerineBold';
    src: url('../mdlite/font/tangerine/Tangerine_Bold.ttf') format('truetype');
}


/*@font-face {
    font-family: 'Cookie';
    src: url('../mdlite/font/cookie/Cookie-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('../mdlite/font/gloriahallelujah/GloriaHallelujah.ttf') format('truetype');
}
@font-face {
    font-family: 'Great Vibes';
    src: url('../mdlite/font/greatvibes/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Indie Flower';
    src: url('../mdlite/font/indieflower/IndieFlower-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('../mdlite/font/kaushanscript/KaushanScript-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lobster';
    src: url('../mdlite/font/lobster/Lobster-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Pacifico';
    src: url('../mdlite/font/pacifico/Pacifico-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rock Salt';
    src: url('../mdlite/font/rocksalt/RockSalt.ttf') format('truetype');
}
@font-face {
    font-family: 'Satisfy';
    src: url('../mdlite/font/satisfy/Satisfy-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Unifraktur Cook Bold';
    src: url('../mdlite/font/unifrakturcook/UnifrakturCook-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Clicker Script';
    src: url('../mdlite/font/clickerscript/ClickerScript-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rancho';
    src: url('../mdlite/font/rancho/Rancho-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Parisienne';
    src: url('../mdlite/font/parisienne/Parisienne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Pangolin';
    src: url('../mdlite/font/pangolin/Pangolin-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Petit Formal Script';
    src: url('../mdlite/font/parisienne/PetitFormalScript-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Yesteryear';
    src: url('../mdlite/font/pangolin/Yesteryear-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'BerkshireSwash';
    src: url('../mdlite/font/pangolin/BerkshireSwash-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montez';
    src: url('../mdlite/font/pangolin/Montez-Regular.ttf') format('truetype');
}  
@font-face {
    font-family: 'Norican';
    src: url('../mdlite/font/pangolin/Norican-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rouge Script';
    src: url('../mdlite/font/pangolin/Rouge-Script.ttf') format('truetype');
}
@font-face {
    font-family: 'Griffy';
    src: url('../mdlite/font/pangolin/Griffy-Regular.ttf') format('truetype');
}
*/

html,
body {
    height: 100%;
    overflow: auto;
}

::selection,
 ::-moz-selection {
    background-color: rgb(255, 235, 59);
    color: rgb(66, 66, 66);
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        height: 56px;
        padding: 0 0 0 52px !important;
    }
}

input[type="number"],
input[type="text"] {
    color: #efefef;
}

input[type="range"] {
    background-color: #efefef !important;
}

.mdl-snackbar {
    z-index: 402;
}

.custom-obfuscator {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.mdl-layout__content>.page-content {
    #home {
        background: rgb(13, 13, 13);
        padding: 10px 0 0;
    }
    .mdl-mini-footer {
        padding: 17px 16px !important;
        background: -moz-linear-gradient(top, #2b2c2f 0%, #000000 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #2b2c2f 0%, #000000 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #2b2c2f 0%, #000000 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        display: block;
        .mdl-mini-footer__bottom-section {
            display: flex;
            width: 100%;
            align-items: center;
            button,
            span {
                margin: 0 5px;
            }
            &.flex-space-between {
                justify-content: space-between;
            }
            p {
                margin: 0;
                text-align: center;
                color: #efefef;
            }
            .mdl-slider__container,
            p {
                flex-grow: 2;
                font-size: 18px !important;
            }
            .current-hymn .current-hymn-title {
                margin: 0;
            }
        }
        button {
            border: solid;
            color: #efefef;
            background-color: inherit;
            border-radius: 50%;
        }
    }
}

.mdl-slider__background-flex {
    z-index: 65;
    margin: 0 20px !important;
    .mdl-slider__background-upper {
        opacity: 0;
    }
}

.mdl-layout__header {
    box-shadow: none;
    display: block;
    .mdl-textfield__input {
        color: rgb(66, 66, 66);
    }
    .search-clearer {
        font-size: 22px;
        position: absolute;
        top: 27px;
        right: 15px;
    }
    .mdl-navigation__link{
        font-size: 1.6em;
    }
}

@media screen and (max-width: 1024px) {
    .mdl-layout--fixed-header>.mdl-layout__header {
        display: block;
    }
}

.mdl-layout__drawer {
    background-position: center top !important;
    border: none;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/Congregation Singing 2.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    border-right: none !important;
    .mdl-layout-title {
        color: #efefef;
        font-family: KonsensSemibold;
        font-size: 2em;
        .title-white {
            color: #FFFFFF;
        }
        .title-yellow {
            color: #FFF300;
            margin-left: -7px;
        }
    }
    .mdl-navigation__link {
        color: #efefef !important;
        font-size: 1.6em !important;
        &:hover {
            background-color: transparent !important;
            color: #FFF300 !important;
        }
    }
}

.mdl-layout__content {
    background-image: url('../images/Congregation Singing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 -2px;
}

.mdl-layout__content>.page-content>section {
    height: 100%;
    color: #efefef;
    overflow-y: auto;
    &:not(.active) {
        display: none;
    }
}

.input-form>.mdl-textfield {
    padding: 16px 20px;
    width: 100% !important;
}

.input-form+.list-items {
    overflow: hidden;
    overflow-y: auto;
}

#btnInput {
    position: fixed;
    bottom: 75px;
    right: 10px;
    width: 56px;
    height: 56px;
}

#btnCustomizer {
    position: fixed;
    background: rgb(255, 215, 64);
    color: rgb(66, 66, 66);
    bottom: 135px;
    right: 10px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
}

#btnInput:not(.hidden) {
    transform: scale(1);
}

#btnInput.hidden {
    transform: scale(0);
}

body {
    font-family: Roboto-Thin;
}

.landing {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/Congregation Singing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2000;
    font-family: KonsensSemibold;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
        font-size: 42px;
        margin: 0;
        display: inline-block;
    }
    .title img {
        display: block;
        margin: 0 auto 20px;
    }
    .title-white {
        color: #FFFFFF;
        background-color: none;
    }
    .title-yellow {
        color: #FFF300;
        background-color: none;
    }
    hr {
        margin: 6px 0 8px;
    }
    input[type="text"],
    input[type="password"] {
        display: block;
        margin: 5px 0;
        width: calc(100% - 10px);
        padding: 5px;
        font-size: 14px;
        border: 1px solid #343434;
        border-radius: 5px;
    }
}

.home-title {
    text-align: center;
    margin: 0 0 1rem;
    color: #efefef;
    font-family: 'Tangerine';
    font-size: 3rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
    height: 200px;
    .card-container {
        position: relative;
        margin: 0 auto 20px;
        perspective: 1000px;
        transition: 0.6s;
        transform-style: preserve-3d;
        height: 200px;
        &.flip {
            transform: rotateY(180deg);
        }
        .mdl-card {
            width: 90%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 200px;
            backface-visibility: visible;
            &.card-front {
                z-index: 2;
                background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../images/sheet-music.jpg');
                color: #efefef;
                background-repeat: no-repeat;
                background-size: cover;
                transform: rotateY(0deg);
            }
            &.card-back {
                z-index: 1;
                background-color: inherit;
                background-repeat: no-repeat;
                background-size: cover;
                transform: rotateY(180deg);
            }
            .mdl-card__title {
                max-width: 89%;
                .mdl-card__title-text {
                    color: #efefef;
                    font-family: 'Tangerine';
                    font-size: 2.1rem;
                    text-shadow: 3px 8px 5px #131313;
                }
            }
            .mdl-card__menu {
                z-index: 3;
            }
            .mdl-card__supporting-text {
                color: #efefef;
                font-size: 1rem;
            }
            .mdl-button {
                background: inherit;
            }
        }
    }
}

#lyrics {
    margin: 5px 0 0 0;
    #hymnTitle {
        padding: 0;
    }
    #hymnLyrics {
        line-height: 175%;
        padding: 0 5px;
        margin: 0;
        letter-spacing: 0.12em;
        &.indent-first-letter .hymn-stanza {
            .first-letter {
                float: left;
                width: 0.7em;
                font-size: 340%;
                line-height: 100%;
            }
        }
    }
}

.table-results {
    overflow: hidden;
    overflow-y: auto;
}

#input {
    .mdl-list {
        .mdl-list__item {
            .mdl-list__item-primary-content {
                .mdl-list__item-avatar {
                    font-size: 32px;
                    padding: 4px;
                }
                span {
                    color: #efefef;
                }
            }
        }
    }
}

#settings {
    background-color: #0d0d0d;
    .mdl-list {
        .mdl-list__item {
            flex-wrap: wrap;
            &+.mdl-list__item {
                border-top: 1px solid #efefef;
            }
            .mdl-list__item-primary-content {
                font-size: 18px;
                font-family: KonsensBook;
                span {
                    color: #efefef;
                }
            }
            .mdl-list__item-secondary-content {
                z-index: 401;
                color: #efefef;
            }
            .mdl-list__item-tertiary-content {
                flex: 100%;
                margin: 20px 0 0;
                text-align: center;
                min-height: 34.5px;
                .button-group {
                    display: flex;
                    justify-content: center;
                    margin: 0 20px;
                    button {
                        flex-grow: 1;
                        border: 2px solid rgb(255, 215, 64);
                        font-size: 23px !important;
                        height: 45px;
                        &+button {
                            margin-left: -1px;
                        }
                    }
                }
            }
        }
    }
    label:not(.is-checked) .mdl-switch__track {
        background: rgba(255, 255, 255, 0.26) !important;
    }
}

#customizer {
    .mdl-grid {
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #030303;
            width: 100%;
            height: 100%;
            padding: 20px;
            .text {
                font-size: 16px;
                text-align: center;
            }
        }
        .mdl-tabs {
            .mdl-tabs__tab-bar a {
                color: #efefef;
            }
            .mdl-tabs__panel {
                padding: 20px 10px;
            }
        }
    }
    .mdl-list {
        .mdl-list__item {
            flex-wrap: wrap;
            .mdl-list__item-tertiary-content {
                flex: 100%;
                margin: 20px 0 0;
                text-align: center;
                min-height: 34.5px;
            }
        }
    }
    .palette {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        .color {
            width: 25px;
            height: 25px;
        }
    }
}

.mdl-card .mdl-card__supporting-text {
    width: inherit;
    .text {
        padding: 0 23px;
        margin: 0 0 2px;
        color: #efefef !important;
        font-size: 18px;
    }
    .mdl-slider__container {
        width: 100%;
    }
}

.auto-scroller button {
    min-width: 20px;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0px 0px 15px 0;
    opacity: 0.3;
}

.mdl-data-table {
    background: rgba(13, 13, 13, 0.63);
    color: #efefef;
    th {
        color: #efefef;
    }
    tr {
        color: #efefef;
    }
}

.mdl-list__item,
.mdl-data-table tr {
    z-index: 400;
}

.mdl-list__item .mdl-list__item-primary-content,
.mdl-data-table tr td {
    z-index: 39;
    color: #efefef;
}

#btnHome {
    font-size: 24px;
}

#searchTable {
    width: 93%;
    margin: 0 3% 3%;
    background: rgba(13, 13, 13, 0.63);
    th {
        text-align: center;
        color: #efefef;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
        width: 10%;
    }
    tr td:nth-child(2),
    tr th:nth-child(2) {
        width: 90%;
        table-layout: fixed;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#search>p {
    margin: 10px 3% 5px;
}

.hymn-stanza .hymn-line,
.hymn-refrain .hymn-line {
    display: block;
}

.hymn-stanza:before {
    display: block;
}

.hymn-refrain:before {
    display: block;
    content: "Refrain:";
}

.hymn-stanza:after,
.hymn-refrain:after {
    content: "";
    display: block;
    padding-bottom: 1em;
}

.hymn-stanza:nth-child(1):before {
    content: "Stanza 1:";
}

#about {
    .mdl-layout-title {
        margin: 10px 0;
        text-align: center;
        img {
            padding: 10px 0 10px 10px;
        }
    }
    #description {
        text-align: center;
        padding: 0 10px;
        font-size: 20px;
    }
    .revision-title {
        font-weight: bold;
        margin: 50px 0 5px;
        color: rgb(255, 235, 59);
    }
    .revision-title,
    #revision-list {
        text-align: center;
        padding: 0 10px;
    }
    #revision-list {
        font-size: 20px;
        .revision {
            text-decoration: underline;
        }
    }
    .author {
        margin: 50px 0 5px;
        text-align: center;
        font-weight: bold;
        color: rgb(255, 235, 59);
    }
    .author-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        background: #ffffff;
        display: block;
    }
    .author-name {
        text-align: center;
        margin: 5px 0 0;
    }
    .author-desc {
        text-align: center;
        font-size: 12px;
    }
}

.dialog-container {
    display: flex;
    .mdl-dialog {
        z-index: 5;
        width: 50% !important;
        top: 8%;
        background: rgba(13, 13, 13, 0.63);
        .mdl-card {
            width: 100% !important;
            .mdl-card__title {
                height: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: 10%;
                .mdl-card__title-text {
                    color: #efefef !important;
                    font-size: 1.5rem !important;
                    font-family: 'Tangerine';
                }
            }
        }
    }
}

@media (min-width: 480px) {
    .mdl-snackbar.mdl-snackbar--active {
        -webkit-transform: translate(-50%, -68px);
        transform: translate(-50%, -68px);
    }
}

@media (max-width: 479px) {
    .mdl-snackbar.mdl-snackbar--active {
        width: auto;
        -webkit-transform: translate(23%, -68px) !important;
        transform: translate(23%, -68px) !important;
    }
}

@include verse-without-refrain;
@include verse-with-refrain;